@charset "utf-8";
*{
    overflow: hidden;
    margin: 0px;
    padding: 0px;

}
body, main{
    width: 100vw;
    height: 100vh
}
body{
    background:url(imagens/fundo-madeira.jpg) top center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    }
#telefone{
    transform: translate(-50%, -50%);
    position: absolute;
    top:50%;
    left: 50%;
    width: 311px;
    height:627px;
    background: url(imagens/frame-iphone.png) no-repeat;
    }


iframe#tela{
    transform: translate(-50%, -50%);
    position: relative;
    top: 50%;
    left: 50%;

    width: 270px;
    height: 475px; 

}
#redes{
    text-align: right;
    
    
}

#redes > a > img{
    width: 60px;
    height: 60px;
    margin: 8px;
    border-radius: 50%; 
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.452);
    box-sizing: border-box;
}
#redes > a > img:hover{
    border: 2px solid rgba(245, 245, 245, 0.500);
    transform: translate( -10px, -10px);
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.500);
    transition: transform,  0.8s;
    transition: border 0.9s;
}